body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-weight: 100;
}
body li {
  list-style-type: none;
}
body ul {
  padding: 0;
}
body a {
  color: #000;
  text-decoration: none;
}
body input {
  outline: none;
  border: none;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #e6e6e6;
  font-size: 24px;
  font-style: italic;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #e6e6e6;
  font-size: 24px;
  font-style: italic;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #e6e6e6;
  font-size: 24px;
  font-style: italic;
}
